   .instaTitles{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        font-size:49px;
        line-height:53px;
      }

      .instaSubtitles{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size:17px;
        line-height:26px;
      }
      
      .instaTexto{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size:17px;
        line-height:clamp(clamp(clamp(10px, 1.2vw, 12px), 1.6vw, 16px), 3vw, 24px);
        text-align:justify;
      }
      
      .insta{
        display:flex;
        flex-direction:column;
        width:100%;
        background-color:white;
        position:relative;
      }
      
      .instaPleca{
        display:flex;
        width:100%;
        height:298.6px;
        /*background-color:blue;*/
        position:absolute;
        top:-298.6px;
        background-image:url("./imgs/insta/instaPleca.svg");
        background-position:center;
        background-size:cover;
        background-repeat:no-repeat;
      }
      
      .instaLugar{
        display:flex;
        position:absolute;
        flex-shrink:0;
        bottom:-68px;
        right:clamp(clamp(clamp(clamp(11px, 1.4vw, 14px), 2vw, 20px), 4vw, 80px), 12vw, 180px);
        width:161px;
        height:256px;
        /*background-color:black;*/
        background-image:url("./imgs/insta/instaLugar.png");
        background-position:top;
        background-size:cover;
        background-repeat:no-repeat;
      }
      
      .instaPrimer{
        display:flex;
        width:100%;
        gap:54px;
        padding:0 166px 76px clamp(clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.5vw, 40px), 6vw, 120px);
        /*background-color:pink;*/
        flex-direction:column;
        z-index:4;
        position: relative;
      }
      
      
      .instaSecond{
        display:flex;
        gap:clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.5vw, 50px);
        padding:0 166px 0 clamp(clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.5vw, 40px), 6vw, 120px);
        z-index:3;
        /*sborder:4px solid red;*/
      }
      
      .ancho{
        width:100%;
      }
      
      
      .instaSucu{
        display:flex;
        width:100%;
        height:677px;
        position:relative;
        /*background-color:grey;*/
        z-index:1;
      }
      
      
      .instaImagen{
        display:flex;
        width:100%;
        height:908px;
        z-index:;
        position:absolute;
        /*border:3px solid green;*/
        bottom:0;
        background-image:url("./imgs/insta/instaTrabal.webp");
        background-position:top;
        background-size:cover;
        background-repeat:no-repeat;
      }
      
      .space{
        height:400px;
      }

      .one{
        display: flex;
      }

      @media(max-width:1000px){

        .insta{
          /*background-color: green;*/
        }

        .instaPrimer{
          padding: 0 clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.5vw, 40px) clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.5vw, 40px) clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.5vw, 40px);
          gap: clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.5vw, 40px);
        }

        .instaSecond{
          padding: 0 clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.5vw, 40px);
          /*background-color: pink;*/
          gap: clamp(10px, 2vw, 30px);
        }

        .ancho:nth-child(2){
          width: 75%;
          text-align: justify;
        }

        .instaLugar{
          right: clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.5vw, 50px);
        }

        .instaImagen{
          background-position: -230px;
        }
        

      }

      @media(max-width:600px){

        .instaLugar{
          bottom: -clamp(clamp(clamp(11px, 1.4vw, 14px), 2vw, 20px), 4vw, 80px);
          left: 50%;
          transform: translate(-50%);
        }
        .instaTitles{
          font-size: 38px;
          text-align: center;
        }

        .insta{
          padding-top: clamp(clamp(10px, 1.8vw, 25px), 4vw, 70px);
          justify-content: center;
        }

        .instaSecond{
          flex-direction: column;
          gap:clamp(10px, 2vw, 30px);
        }

        .ancho:nth-child(2){
          width: 100%;
          text-align: justify;
        }

        .instaImagen{
          background-position: -230px;
        }

        .instaTexto{
          font-size: clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px);
          line-height: clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.2vw, 21px);
        }


      }

/* TABLET */
@media(min-width: 601px) and (max-width: 1024px) {}
/* MOBILE */
@media(max-width: 600px) {}
