  
     .manteTitles{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        font-size:49px;
        line-height:53px;
        color:white;
        position: relative;
        z-index: 10;
      }

      .manteSubtitles{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size:clamp(13px, 1.9vw, 19px);
        line-height:26px;
        padding:8px clamp(13px, 1.9vw, 19px);
        background-color:#FFCB00;
        border-radius:10px;
        width:fit-content;
        position: relative;
      }
      
      .manteTexto{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size:17px;
        line-height:clamp(clamp(clamp(10px, 1.2vw, 12px), 1.6vw, 16px), 3vw, 24px);
        color:white;
        text-align:justify;
        position: relative;
      }
      
      
      .mante{
        display:flex;
        width:100%;
        padding:clamp(clamp(clamp(clamp(10px, 1.2vw, 12px), 1.6vw, 16px), 3vw, 24px), 5.5vw, 48px) 128px 0 128px;
        background-color:black;
        gap:128px;
        position:relative;
        border:1px solid black;
      }
      
      .mantePleca{
        display:flex;
        width:100%;
        position:absolute;
        top:-218px;
        left:0;
        height:218px;
        /*background-color:pink;*/
        z-index:1;
        background-image:url("./imgs/mante/mantePleca.svg");
        background-position:center;
        background-size:cover;
        background-repeat:no-repeat;
      }
      
      .space{
        height:800px;
      }
      
      .mantePrimer{
        display:flex;
        width:40%;
        flex-direction:column;
        /*background-color:brown;*/
        gap:clamp(clamp(clamp(clamp(10px, 1.2vw, 12px), 1.6vw, 16px), 3vw, 24px), 5.5vw, 48px);
      }
      
      .manteSegundo{
        display:flex;
        width:60%;
        flex-direction:column;
        /*background-color:blue;*/
        gap:clamp(10px, 2vw, 30px);
      }
      
    .especialA{
      display: flex;
      position: relative;
    }

    @media(max-width:1000px){

        .mante{
          /*border: 4px solid orange;*/
          flex-direction: column;
          padding-left: clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.5vw, 40px);
          padding-right: clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.5vw, 40px);
          gap: clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.5vw, 40px);
          align-items: center;
        }

        .manteTitles{
          max-width: 700px;
        }

        .mantePrimer{
          /*background-color: pink;*/
          width: 100%;
          gap:clamp(10px, 2vw, 30px);
        }

        .manteSegundo{
          width: 100%;
          max-width: 650px;
          /*background-color: blueviolet;*/
        }

    }


    @media(max-width:600px) {

      .mante{
        padding-top: 10px;
      }

      .manteTitles{
        font-size: clamp(clamp(clamp(11px, 1.4vw, 14px), 2vw, 20px), 4.5vw, 36px);
        line-height: clamp(clamp(clamp(11px, 1.4vw, 14px), 2vw, 20px), 4.5vw, 36px);
      }

      .manteTexto{
        font-size: clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px);
        line-height: clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.2vw, 21px);
      }

      .manteSubtitles{
        font-size: 17px;
        line-height: 17px;
      }
      
    }


/* TABLET */
@media(min-width: 601px) and (max-width: 1024px) {}
/* MOBILE */
@media(max-width: 600px) {}
