    .moniTitles{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        font-size:49px;
        line-height:53px;
        color:white;
        max-width:600px;
        padding-bottom:56.6px;
        position: relative;
      }

      .moniSubtitles{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size:17px;
        line-height:clamp(clamp(clamp(10px, 1.2vw, 12px), 1.6vw, 16px), 3vw, 24px);
        color:white;
        text-align:justify;
        max-width:600px;
        padding-bottom:clamp(11px, 1.4vw, 14px);
        position: relative;
      }
      
      .moniTexto{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size:17px;
        line-height:clamp(clamp(clamp(10px, 1.2vw, 12px), 1.6vw, 16px), 3vw, 24px);
        color:white;
        text-align:justify;
        max-width:600px;
        position: relative;
      }
      
      .moni{
        display:flex;
        width:100%;
        background-color:black;
        flex-direction:column;
        position: relative;
      }

      .moniFondo{
        display:flex;
        width:100%;
        height:100%;
        position: absolute;
        background-image:url("./imgs/moni/manteFondob.png");
        background-size:cover;
        background-position:top;
        background-repeat:no-repeat;
      }
      
      .moniPleca{
        display:flex;
        width:100%;
        height:320px;
        position:relative;
        /*background-color:pink;*/
        background-image:url("./imgs/moni/mantePleca.png");
        background-position:center;
        background-size:cover;
        background-repeat:no-repeat;
      }
      
      .moniContenido{
        display:flex;
        padding:0 131px 344px 131px;
        flex-direction:column;
        /*background-color:brown;*/
        /*border: 1px solid white;*/
        align-items:flex-end;
      }

      @media(max-width:1000px){

        .moniContenido{
          padding-left: clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.5vw, 40px);
          padding-right: clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.5vw, 40px);
          /*border:4px solid green;*/
          padding-bottom: 240px;
        }

      }


      @media(max-width:600px){

        .moniContenido{
          padding-bottom: 540px;
        }
        
        .moniFondo{
          height: 600px;
          bottom: 0;
          background-position: left;
        }

        .moniTitles{
          font-size: clamp(clamp(clamp(11px, 1.4vw, 14px), 2vw, 20px), 4.5vw, 36px);
          line-height: clamp(clamp(clamp(11px, 1.4vw, 14px), 2vw, 20px), 4.5vw, 36px);
          padding-bottom: clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.5vw, 40px);
        }

        .moniTexto{
          font-size: clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px);
          line-height: clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.2vw, 21px);
        }

        .moniSubtitles{
          font-size: clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px);
          line-height: clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.2vw, 21px);
          padding-bottom: clamp(10px, 2vw, 30px);
        }

      }

/* TABLET */
@media(min-width: 601px) and (max-width: 1024px) {}
/* MOBILE */
@media(max-width: 600px) {}
