  .prediTitles{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        font-size:clamp(clamp(clamp(clamp(11px, 1.4vw, 14px), 1.8vw, 18px), 3.5vw, 28px), 6vw, 52px);
        line-height:53px;
        /*color:white;*/
        position: relative;
      }

      .prediSubtitles{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size:17px;
        line-height:26px;
      }
      
      .prediTexto{
        display:flex;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size:17px;
        line-height:clamp(clamp(clamp(10px, 1.2vw, 12px), 1.6vw, 16px), 3vw, 24px);
        text-align:justify;
        /*background-color:purple;*/
        width:100%;
      }
      
      .predi{
        display:flex;
        flex-direction:column;
        background-color:#FFCB00;
        width:100%;
        position:relative;
      }
      
      .prediPleca{
        display:flex;
        width:100%;
        height:320px;
        /*background-color:pink;*/
        background-image:url("./imgs/predi/prediPleca.svg");
        background-position:top;
        background-size:cover;
        background-repeat:no-repeat;
      }
      
      .prediContenido{
        display:flex;
        width:100%;
        padding:0 141px 78px 141px;
        flex-direction:column;
        /*border:1px solid yellow;*/
        gap:clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.5vw, 40px);
        z-index:10;
      }
      
      .prediTextual{
        display:flex;
        width:100%;
        gap:65px;
        /*background-color:grey;*/
        position: relative;
      }

      .prediEspacio{
        display:flex;
        width:100%;
        height:543px;
        /*background-color:brown;*/
        position:relative;
        z-index:1;
      }
      
      .prediImagen{
        display:flex;
        bottom:0;
        width:100%;
        position:absolute;
        height:852px;
       /*background-color:blue;*/
        background-image:url("./imgs/predi/prediFondo.png");
        background-position:top;
        background-size:cover;
        background-repeat: no-repeat;
      }


      @media(max-width:1000px){

        .predi{
          /*border:5px solid green;*/
        }

        .prediContenido{
          /*border:4px solid purple;*/
          padding: 0 clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.5vw, 40px);
          gap:clamp(10px, 2vw, 30px);
        }

        .prediTextual{
          /*background-color: grey;*/
          gap:clamp(clamp(11px, 1.4vw, 14px), 1.8vw, 18px);
        }

        .prediImagen{
          background-position: right clamp(clamp(10px, 1.8vw, 25px), 4vw, 70px);
          /*border: 5px solid palegreen;*/
        }


      }

      @media(max-width:600px){

          .prediTextual{
            flex-direction: column;
            gap:clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px);
          }

          .prediContenido{
            gap: clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px);
          }

          .prediTitles{
            font-size: 37px;
            line-height: 37px;
          }

          .prediTexto{
            font-size: clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px);
            line-height: clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.2vw, 21px);
          }

          .prediImagen{
            background-position: right -clamp(clamp(10px, 1.8vw, 25px), 4vw, 70px) center;
            height: 700px;
          }

          .prediEspacio{
            height:530px;
          }


      }

/* TABLET */
@media(min-width: 601px) and (max-width: 1024px) {}
/* MOBILE */
@media(max-width: 600px) {}
