 .prevenTitles{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        font-size:49px;
        line-height:53px;
        position: relative;
      }

      .prevenSubtitles{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size:17px;
        line-height:26px;
        position: relative;
      }
      
      .prevenTexto{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size:17px;
        line-height:clamp(clamp(clamp(10px, 1.2vw, 12px), 1.6vw, 16px), 3vw, 24px);
        text-align:justify;
        max-width: 900px;
        position: relative;
        z-index: 20;
      }
      
      .preven{
        display:flex;
        flex-direction:column;
        background-color:white;
        width:100%;
        padding:270px 158px 0 270px;
        gap:54px;
        position:relative;
      }
      
      .prevenPleca{
        display:flex;
        height:239px;
        width:100%;
        /*border:4px solid red;*/
        background-image:url("./imgs/preventivo/preventivoPleca.svg");
        background-position:center;
        background-size:cover;
        background-repeat:no-repeat;
        position:absolute;
        top:0;
        left:0;
      }
      
      .prevenImagen{
        display:flex;
        position:absolute;
        top:clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.5vw, 50px);
        right:132px;
        width:348px;
        height:348px;
        flex-shrink:0;
        /*background-color:grey;*/
        background-image:url("./imgs/preventivo/preventivoTrailerb.png");
        background-position:center;
        background-size:cover;
        background-repeat:no-repeat;
      }
      
      .prevenPadding{
        padding-left:clamp(clamp(10px, 1.8vw, 25px), 4vw, 70px);
      }


  @media(max-width:1000px){

      .preven{
          /*border: 3px solid orange;*/
          padding-left: clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.5vw, 40px);
          padding-right: clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.5vw, 40px);
      }

      .prevenImagen{
        right:clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.5vw, 40px);
        height:310px;
        width:310px;
      }

      .prevenTitles{
        max-width:400px;
      }

      

    }

    @media(max-width:600px){

      .prevenImagen{
          left:50%;
          transform:translate(-50%);
      }

        .prevenPadding{
          padding: 0;
        }

        .preven{
          padding-top: 400px;
          gap:clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.5vw, 40px);
        }

        .prevenTitles{
          font-size: 38px;
          line-height: 38px;
        }

        .prevenTexto{
          font-size: clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px);
          line-height: clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.2vw, 21px);
        }
    }

/* TABLET */
@media(min-width: 601px) and (max-width: 1024px) {}
/* MOBILE */
@media(max-width: 600px) {}
