  .sostenTitles{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        font-size:49px;
        line-height:53px;
        color:white;
        max-width:600px;
        z-index:2;
        position: relative;
      }

      .sostenSubtitles{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size:17px;
        line-height:26px;
        color:white;
        z-index:2;
      }
      
      .sostenTexto{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size:17px;
        line-height:clamp(clamp(clamp(10px, 1.2vw, 12px), 1.6vw, 16px), 3vw, 24px);
        color:white;
        text-align:justify;
        max-width:600px;
        z-index:3;
        position: relative;
      }
      
      .sosten{
        display:flex;
        position:relative;
        flex-direction:column;
        padding:47px 96px 239px 148px;
        width:100%;
        background-color:black;
        gap:42.8px;
      }
      
      .sostenCaja{
        display:flex;
        /*background-color:green;*/
        gap:34px;
        max-width:600px;
        z-index:4;
        position: relative;
      }
      
      .sostenBola{
        display:flex;
        width:clamp(clamp(clamp(clamp(11px, 1.4vw, 14px), 1.8vw, 18px), 3.5vw, 28px), 6vw, 52px);
        height:clamp(clamp(clamp(clamp(11px, 1.4vw, 14px), 1.8vw, 18px), 3.5vw, 28px), 6vw, 52px);
        border-radius:clamp(clamp(clamp(11px, 1.4vw, 14px), 2vw, 20px), 3.5vw, 60px);
        background-color:#FFCB00;
        flex-shrink:0;
      }
      
      .sostenFondo{
        display:flex;
        width:100%;
        height:calc(100% + 112.6px);
        position:absolute;
        bottom:0;
        left:0;
        /*border:5px solid brown;*/
        z-index:1;
        background-image:url("./imgs/sosten/sostenFondo.webp");
        background-position:center;
        background-size:cover;
        background-repeat:no-repeat;
      }

      .sostenBlackMatter{
        display:flex;
        width:100%;
        height:calc(100% + 112.6px);
        position:absolute;
        bottom:0;
        left:0;
        background-color: black;
        z-index:1;
      }
      
      .sostenPleca{
        display:flex;
        position:absolute;
        width:100%;
        height:266px;
        top:-266px;
        left:0;
        /*background-color:blue;*/
        background-image:url("./imgs/sosten/sostenPleca.svg");
        background-position:center;
        background-size:cover;
        background-repeat:no-repeat;
        z-index: 5;
      }
      
      .space{
        height:500px;
      }

      .sosten br{
          display: block;
      }

      @media(max-width:1000px){

        .sosten{
          /*border: 5px solid green;*/
          padding: 0 clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.5vw, 40px) 900px clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.5vw, 40px);
        }

          .sostenFondo{
            /*border: 5px solid yellow;*/
            height: 1200px;
            bottom: 0;
            background-image: url("./imgs/sosten/PNG/sostenTrailer_cel.png");
            background-position: top;
          }

          .sostenTitles, .sostenTexto, .sostenSubtitles, .sostenCaja{
            max-width: none;
          }


      }

      @media (max-width:600px){

        .sosten{
          padding-bottom: 460px;
        }
          .sostenFondo{
            height: 600px;
            bottom: 0;
            background-image: url("./imgs/sosten/PNG/sostenTrailer_cel.png");
            background-position: top;
          }

          .sostenCaja{
            /*border: 5px solid orange;*/
          }

          .sostenBola{
            height: clamp(10px, 2vw, 30px);
            width: clamp(10px, 2vw, 30px);
          }

          .sostenCaja{
            gap: clamp(clamp(11px, 1.4vw, 14px), 2vw, 20px);
          }

          .sostenTitles{
            font-size: clamp(clamp(clamp(11px, 1.4vw, 14px), 2vw, 20px), 4.5vw, 36px);
          }

          .sostenTexto{
            font-size: clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px);
            line-height: clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.2vw, 21px);
          }

          .sostenSubtitles{
            font-size: clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px);
            line-height: clamp(clamp(clamp(10px, 1.2vw, 12px), 1.5vw, 15px), 2.2vw, 21px);
          }

      }


/* TABLET */
@media(min-width: 601px) and (max-width: 1024px) {}
/* MOBILE */
@media(max-width: 600px) {}
