

.contactoTexto{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size:15px;
        line-height:15px;
        text-align:justify;
}

.contactoBotones{
    display: flex;
    position: fixed;
    flex-direction: column;
    gap:20px;
    top: 95%;
    right: 20px;
    transform: translateY(-95%);
}

.contactoBoton1{
    display:flex;
    position: relative;
    width:100px;
    height:100px;
    /*background-color: blue;*/
}

.contactoBoton2{
    display:flex;
    position: relative;
    width:100px;
    height:100px;
    border-radius: 20px;
    /*background-color: blue;*/
}

.contactoImg{
    display: flex;
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*border:3px solid orange;*/
    box-shadow: -5px 5px 14px rgba(126, 126, 126, 0.7); 
    border-radius: 20px;
}

.whats{
    border-radius: 18px;
    background-image: url("./imgs/contacto/whats_2.svg");
}

.trabajo{
    border-radius: 18px;
    background-image: url("./imgs/contacto/trabajo_1.svg");
}

.contactoTira{
    display: flex;
    position: absolute;
    /*background-color: white;*/
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 450px;
    height: fit-content;
    opacity: 0;
    transition: all 0.4s ease;
    text-align: right;
    justify-content: right;
     pointer-events: none; 
}


.contactoTira p{
    width: fit-content;
    background-color:rgb(221, 221, 221);
    padding: 20px 65px 20px 28px;
    border-radius: 20px 0 0 20px;
}


/*.contactoBoton1:hover .contactoTira{
    right:35px;
    opacity: 1;
}

.contactoBoton2:hover .contactoTira{
    right:35px;
    opacity: 1;
}
*/
contacto a{
    text-decoration: none;
    cursor: pointer;
}


@media(max-width:1000px){

.contactoBotones{
    gap:10px;
}

.contactoBoton1, .contactoBoton2{
    height: 60px;
    width:60px;
}

.contactoImg{
    height: 60px;
    width:60px;
}

}



